# Simple Stock Perfomance for big tech stocks

In [7]:
import yfinance as yf
import pandas as pd
import datetime

In [8]:
# List of stocks compaired
stock_list = ['AAPL', 'GOOGL', 'AMZN', 'FB', 'TSLA', 'MSFT' , 'NVDA']

# Finds date one year ago to pull data from yfinance
last_year = (datetime.datetime.today() - datetime.timedelta(days=365)).strftime('%Y-%m-%d')
last_year

'2020-08-29'

In [9]:
stock_dfs = {}
value_df = None
# Pulling stocks from yfinance and storing closing values in value_df
for stock in stock_list:
    stock_dfs[stock] = yf.Ticker(stock).history(start=last_year)
    stock_dfs[stock].rename(columns={'Close': stock}, inplace=True)
    if value_df is None:
        value_df = pd.DataFrame(data=stock_dfs[stock][stock])
    else:
        value_df[stock] = stock_dfs[stock][stock]
value_df

,AAPL,GOOGL,AMZN,FB,TSLA,MSFT,NVDA
Date,,,,,,,
2020-08-31,128.215347,1629.530029,3450.959961,293.200012,498.320007,223.479355,133.588776
2020-09-01,133.322495,1655.079956,3499.120117,295.440002,475.049988,225.203552,138.089859
2020-09-02,130.560257,1717.390015,3531.449951,302.500000,447.369995,229.543701,143.340302
2020-09-03,120.107483,1629.510010,3368.000000,291.119995,407.000000,215.324188,130.041855
2020-09-04,120.186981,1581.209961,3294.620117,282.730011,418.320007,212.301926,126.115280
...,...,...,...,...,...,...,...
2021-08-23,149.710007,2800.830078,3265.870117,363.350006,706.299988,304.649994,219.580002
2021-08-24,149.619995,2825.229980,3305.780029,365.510010,708.489990,302.619995,217.929993
2021-08-25,148.360001,2841.580078,3299.179932,368.390015,711.200012,302.010010,222.130005
2021-08-26,147.539993,2828.810059,3316.000000,364.380005,701.159973,299.089996,220.679993
2021-08-27,148.600006,2880.080078,3349.629883,372.630005,711.919983,299.720001,226.360001

In [10]:
# only keeping values from 1 year ago, 6 months ago, 1 quarter ago, and 1 month ago
value_df = value_df.iloc[[
    0, 
    len(value_df)//2, 
    3*len(value_df)//4,
    -20,
    -1
]]
value_df = value_df.T
value_df

Date    2020-08-31   2021-03-02   2021-06-01   2021-08-02   2021-08-27
AAPL    128.215347   124.720970   124.094070   145.302307   148.600006
GOOGL  1629.530029  2064.479980  2381.179932  2697.090088  2880.080078
AMZN   3450.959961  3094.530029  3218.649902  3331.479980  3349.629883
FB      293.200012   259.000000   329.130005   351.950012   372.630005
TSLA    498.320007   686.440002   623.900024   709.669983   711.919983
MSFT    223.479355   232.885376   246.927277   284.275787   299.720001
NVDA    133.588776   133.985535   162.607742   197.500000   226.360001

In [11]:
for i in range(4):
    value_df.iloc[:,i] = (value_df.iloc[:,4] / value_df.iloc[:,i]) - 1
value_df

Date   2020-08-31  2021-03-02  2021-06-01  2021-08-02   2021-08-27
AAPL     0.158988    0.191460    0.197479    0.022695   148.600006
GOOGL    0.767430    0.395063    0.209518    0.067847  2880.080078
AMZN    -0.029363    0.082436    0.040694    0.005448  3349.629883
FB       0.270907    0.438726    0.132167    0.058758   372.630005
TSLA     0.428640    0.037119    0.141080    0.003170   711.919983
MSFT     0.341153    0.286985    0.213799    0.054328   299.720001
NVDA     0.694454    0.689436    0.392062    0.146127   226.360001

In [12]:
# calculating a rolling average or sorts
value_df['Sum Changes'] = value_df.iloc[:,0:3].sum(axis=1)
value_df.sort_values(by='Sum Changes')

Date,2020-08-31 00:00:00,2021-03-02 00:00:00,2021-06-01 00:00:00,2021-08-02 00:00:00,2021-08-27 00:00:00,Sum Changes
AMZN,-0.029363,0.082436,0.040694,0.005448,3349.629883,0.093767
AAPL,0.158988,0.191460,0.197479,0.022695,148.600006,0.547926
TSLA,0.428640,0.037119,0.141080,0.003170,711.919983,0.606839
FB,0.270907,0.438726,0.132167,0.058758,372.630005,0.841800
MSFT,0.341153,0.286985,0.213799,0.054328,299.720001,0.841937
GOOGL,0.767430,0.395063,0.209518,0.067847,2880.080078,1.372011
NVDA,0.694454,0.689436,0.392062,0.146127,226.360001,1.775951