# Simple Stock Perfomance for big tech stocks

In [1]:
import yfinance as yf
import pandas as pd
import datetime

In [2]:
# List of stocks compaired
stock_list = ['AAPL', 'GOOGL', 'AMZN', 'FB', 'TSLA', 'MSFT']

# Finds date one year ago to pull data from yfinance
last_year = (datetime.datetime.today() - datetime.timedelta(days=365)).strftime('%Y-%m-%d')
last_year

'2020-05-24'

In [3]:
stock_dfs = {}
value_df = None
# Pulling stocks from yfinance and storing closing values in value_df
for stock in stock_list:
    stock_dfs[stock] = yf.Ticker(stock).history(start=last_year)
    stock_dfs[stock].rename(columns={'Close': stock}, inplace=True)
    if value_df is None:
        value_df = pd.DataFrame(data=stock_dfs[stock][stock])
    else:
        value_df[stock] = stock_dfs[stock][stock]
value_df

,AAPL,GOOGL,AMZN,FB,TSLA,MSFT
Date,,,,,,
2020-05-26,78.652542,1421.369995,2421.860107,232.199997,163.774002,179.828796
2020-05-27,78.995224,1420.280029,2410.389893,229.139999,164.046005,180.066498
2020-05-28,79.029984,1418.239990,2401.100098,225.460007,161.162003,179.660416
2020-05-29,78.953018,1433.520020,2442.370117,225.089996,167.000000,181.492691
2020-06-01,79.923965,1434.869995,2471.040039,231.910004,179.619995,181.076721
...,...,...,...,...,...,...
2021-05-18,124.849998,2262.469971,3232.280029,309.959991,577.869995,242.520004
2021-05-19,124.690002,2271.500000,3231.800049,313.589996,563.460022,243.119995
2021-05-20,127.309998,2306.949951,3247.679932,318.609985,586.780029,246.479996
2021-05-21,125.430000,2294.129883,3203.080078,316.230011,580.880005,245.169998
2021-05-24,127.485001,2356.254883,3251.979980,324.779999,598.330017,250.300003

In [4]:
# only keeping values from 1 year ago, 6 months ago, 1 quarter ago, and 1 month ago
value_df = value_df.iloc[[
    0, 
    len(value_df)//2, 
    3*len(value_df)//4,
    -20,
    -1
]]
value_df = value_df.T
value_df

Date    2020-05-26   2020-11-20   2021-02-24   2021-04-27   2021-05-24
AAPL     78.652542   116.966240   125.137444   134.162109   127.485001
GOOGL  1421.369995  1736.380005  2083.810059  2290.979980  2356.254883
AMZN   2421.860107  3099.399902  3159.530029  3417.429932  3251.979980
FB      232.199997   269.700012   264.309998   303.570007   324.779999
TSLA    163.774002   489.609985   742.020020   704.739990   598.330017
MSFT    179.828796   209.422974   234.009659   261.366486   250.300003

In [5]:
for i in range(4):
    value_df.iloc[:,i] = (value_df.iloc[:,4] / value_df.iloc[:,i]) - 1
value_df

Date   2020-05-26  2020-11-20  2021-02-24  2021-04-27   2021-05-24
AAPL     0.620863    0.089930    0.018760   -0.049769   127.485001
GOOGL    0.657735    0.356993    0.130744    0.028492  2356.254883
AMZN     0.342761    0.049229    0.029261   -0.048414  3251.979980
FB       0.398708    0.204227    0.228784    0.069869   324.779999
TSLA     2.653388    0.222054   -0.193647   -0.150992   598.330017
MSFT     0.391879    0.195189    0.069614   -0.042341   250.300003

In [6]:
# calculating a rolling average or sorts
value_df['Sum Changes'] = value_df.iloc[:,0:3].sum(axis=1)
value_df.sort_values(by='Sum Changes')

Date,2020-05-26 00:00:00,2020-11-20 00:00:00,2021-02-24 00:00:00,2021-04-27 00:00:00,2021-05-24 00:00:00,Sum Changes
AMZN,0.342761,0.049229,0.029261,-0.048414,3251.979980,0.421251
MSFT,0.391879,0.195189,0.069614,-0.042341,250.300003,0.656682
AAPL,0.620863,0.089930,0.018760,-0.049769,127.485001,0.729553
FB,0.398708,0.204227,0.228784,0.069869,324.779999,0.831719
GOOGL,0.657735,0.356993,0.130744,0.028492,2356.254883,1.145471
TSLA,2.653388,0.222054,-0.193647,-0.150992,598.330017,2.681796