# Simple Stock Perfomance for canadian bank stocks stocks

In [1]:
import yfinance as yf
import pandas as pd
import datetime

In [2]:
# List of stocks compaired
stock_list = ['CM', 'RY', 'BNS', 'BMO', 'TD']

# Finds date one year ago to pull data from yfinance
last_year = (datetime.datetime.today() - datetime.timedelta(days=365)).strftime('%Y-%m-%d')
last_year

'2020-05-23'

In [3]:
stock_dfs = {}
value_df = None
# Pulling stocks from yfinance and storing closing values in value_df
for stock in stock_list:
    stock_dfs[stock] = yf.Ticker(stock).history(start=last_year)
    stock_dfs[stock].rename(columns={'Close': stock}, inplace=True)
    if value_df is None:
        value_df = pd.DataFrame(data=stock_dfs[stock][stock])
    else:
        value_df[stock] = stock_dfs[stock][stock]
value_df

                    CM          RY        BNS         BMO         TD
Date
2020-05-26   60.252251   61.157032  38.211990   48.396980  41.414734
2020-05-27   62.864506   64.215843  39.817936   49.274502  43.391865
2020-05-28   61.757133   63.525452  39.298363   48.005917  41.729927
2020-05-29   60.507797   62.183025  37.805782   47.033016  40.879856
2020-06-01   63.385067   64.570618  39.128323   48.520981  42.264805
...                ...         ...        ...         ...        ...
2021-05-17  110.440002  101.269997  66.300003  100.709999  73.260002
2021-05-18  110.489998  101.889999  65.900002  101.339996  73.139999
2021-05-19  110.370003  101.330002  65.389999  100.669998  72.260002
2021-05-20  111.379997  101.970001  65.559998  102.129997  72.889999
2021-05-21  112.250000  102.389999  65.529999  102.739998  73.029999

[251 rows x 5 columns]

In [4]:
# only keeping values from 1 year ago, 6 months ago, 1 quarter ago, and 1 month ago
value_df = value_df.iloc[[
    0, 
    len(value_df)//2, 
    3*len(value_df)//4,
    -20,
    -1
]]
value_df = value_df.T
value_df

Date  2020-05-26  2020-11-19  2021-02-23  2021-04-26  2021-05-21
CM     60.252251   81.755814   91.334801  102.279999  112.250000
RY     61.157032   78.157166   88.066086   94.190002  102.389999
BNS    38.211990   47.106396   58.210293   62.930000   65.529999
BMO    48.396980   69.286514   82.627151   93.319725  102.739998
TD     41.414734   51.443253   61.414864   67.919998   73.029999

In [5]:
# Changing to Percent change
for i in range(4):
    value_df.iloc[:,i] = (value_df.iloc[:,4] / value_df.iloc[:,i]) - 1
value_df

Date  2020-05-26  2020-11-19  2021-02-23  2021-04-26  2021-05-21
CM      0.863001    0.372991    0.228995    0.097478  112.250000
RY      0.674215    0.310053    0.162650    0.087058  102.389999
BNS     0.714907    0.391106    0.125746    0.041316   65.529999
BMO     1.122860    0.482828    0.243417    0.100946  102.739998
TD      0.763382    0.419622    0.189126    0.075236   73.029999

In [6]:
# calculating a rolling average or sorts
value_df['Sum Changes'] = value_df.iloc[:,0:3].sum(axis=1)
value_df.sort_values(by='Sum Changes')

Date,2020-05-26 00:00:00,2020-11-19 00:00:00,2021-02-23 00:00:00,2021-04-26 00:00:00,2021-05-21 00:00:00,Sum Changes
RY,0.674215,0.310053,0.162650,0.087058,102.389999,1.146917
BNS,0.714907,0.391106,0.125746,0.041316,65.529999,1.231759
TD,0.763382,0.419622,0.189126,0.075236,73.029999,1.372130
CM,0.863001,0.372991,0.228995,0.097478,112.250000,1.464987
BMO,1.122860,0.482828,0.243417,0.100946,102.739998,1.849105